
{% extends 'base.html' %}

{% block title %} About Us {% endblock %}

{% block content %} 
  <h1>About us here at Stoke</h1>
  <h4><p>Well over a decade I met my best friends by helping their rave production company Tight Crew. <br> 
    In the winter that same love of music and friends took that idea and made a bus trip to regional <br> 
    mountains so it wasn't a boring quiet bus trip and with that Raving Riders began. Personally got into <br> 
    coding and thought it would be fun to build this to track days on slopes and tally up savings from <br> 
    trips taken and seasonal passes used. In time this will be built out to keep friends, track days on slopes, 
    savings, compare friends stats and more. So bear with me and feel free to drop and feedback that can 
    help this become a better platform for all to use.</p></h4> </br>


    <a href = "mailto: insertEmail@gmail.com">Contact Us</a>
{% endblock %}